.about {
  h2 {
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    color: #4d4d4d;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.btn__about button {
  @include btn-about;
  &:hover {
    background-color: lighten(#9356dc, 10%);
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px #000;
  }
}
